.main {
  text-align: center;
  margin-top: 2%;
}
h2 {
  font-size: 28px;
  color: rgb(15, 15, 228);
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
}
mat-card {
  margin:2% 0% 6% 15%;
  padding:4%;
  width:60%;
  background-color: rgb(241, 239, 239);
  font-size: 18px;
}
mat-form-field {
  width: 80%;
  margin-left: 8%;
}
button{
  margin-left: 50%;
}
