.main{
  background-color: rgb(218, 214, 214);
  height: 100vh;
}
.head{
  text-align: center;
  padding:2%;
}
.head h1 {
  font-size: 28px;
  font-weight: 400;
}
mat-card {
  height: 400px;
  width: 500px;
  text-align: justify;
  margin: 0% 6%;
}
 mat-card-title {
  font-size: 20px;
 }
 mat-card-content {
   font-size: 18px;
 }
 mat-card-footer {
   text-align: center;
   font-size: 16px;
 }
 a {
   text-decoration: none;
 }
