<div class="container" fxLayout.xs="column">
<mat-card class="heading">
  <span class="txt">Keep Yourself Notified!</span>
</mat-card>
</div>
<input type="text" placeholder="Search your conference here!" (click)="navigateToSearchPage()">
<h2>List of Conferences</h2>
<div id="conference-list" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="centre">
  <mat-card fxFlex="20%">
    <mat-card-title>Title goes here!</mat-card-title>
    <mat-card-content>Content goes here</mat-card-content>
  </mat-card>
  <mat-card fxFlex="20%">
    <mat-card-title>Title goes here!</mat-card-title>
    <mat-card-content>Content goes here</mat-card-content>
  </mat-card>
  <mat-card fxFlex="20%">
    <mat-card-title>Title goes here!</mat-card-title>
    <mat-card-content>Content goes here</mat-card-content>
  </mat-card>
  <mat-card fxFlex="20%">
    <mat-card-title>Title goes here!</mat-card-title>
    <mat-card-content>Content goes here</mat-card-content>
  </mat-card>
  <mat-card fxFlex="20%">
    <mat-card-title>Title goes here!</mat-card-title>
    <mat-card-content>Content goes here</mat-card-content>
  </mat-card>
</div>
