<mat-card class="heading">
  Keep Yourself Notified!
</mat-card>
<input type="text" placeholder="Search your conference here!" (click)="navigateToSearchPage()">
<h2>List of Conferences</h2>
<div class="conference-list">
  <mat-card class="card">
    <mat-card-title>Title goes here!</mat-card-title>
    <mat-card-content>Content goes here</mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-title>Title goes here!</mat-card-title>
    <mat-card-content>Content goes here</mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-title>Title goes here!</mat-card-title>
    <mat-card-content>Content goes here</mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-title>Title goes here!</mat-card-title>
    <mat-card-content>Content goes here</mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-title>Title goes here!</mat-card-title>
    <mat-card-content>Content goes here</mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-title>Title goes here!</mat-card-title>
    <mat-card-content>Content goes here</mat-card-content>
  </mat-card>
</div>
