.heading {
  height: 190px;
  background-color: #6652FF;
  color: white;
  text-align: center;
  font-size: 30px;
  padding-top: 90px;
}
.txt{
  padding: 8px;
  font-weight: 500;
}
.subhead {
  font-size: 16px;
}
.attend-btn {
  padding: 10px 50px 10px 50px;
  font-size: 14px;
  border-radius: 8px;
  background-color: white;
}
.searchbox {
  display: inline;
}
.searchbox input {
  width: 30%;
  margin: 3% 0% 1% 30%;
  height: 30px;
  text-indent: 1%;
}
.searchbox button {
  width: 10%;
  height: 40px;
  background-color: #6652FF;
  color: white;
}
.head {
  font-weight: 500;
  margin-bottom: 5px;
}
.conference-head {
  font-size: 18px;
  margin: 4% 10%;
}
.view-txt{
  float: right;
}
a {
  text-decoration: none;
}
#conference-list mat-card {
  height: 280px;
  width: 250px;
  align-self: center;
  margin: 0% 0% 4% 10%;
  color:  rgb(6,69,94);
  border-radius: 10px;
}
.title-dir {
  display: inline;
}
.title-txt {
  color: black;
  font-weight: 500;
  font-size: 14px;
  /* margin: 20%; */
}
.dir {
  float: right;
  margin-left: 10%;
}

/* mat-card-title{
  padding-top: 70px
} */
