.heading {
  height: 110px;
  background-color: rgb(6,69,94);
  color: white;
  text-align: center;
  font-size: 30px;
  padding-top: 90px;
}
input {
  width: 50%;
  margin: 1% 25% 1% 25%;
  height: 50px;
  text-align: center;
}
h2 {
   margin: 20px 25px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
.conference-list {
  display: flex;
  margin-left:20px;
}
.card {
  height: 200px;
  width: 250px;
  margin-right:20px;
  color:  rgb(6,69,94);
  background-color:rgb(245,245,245);
}
mat-card-title{
  padding-top: 70px
}
