<mat-toolbar>
  <span>
    <a routerLink="/"><img src="../../assets/Proj_Conf_ntfy_logo-01.png" alt=""></a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/about">About</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/conference" routerLinkActive="mat-accent">Conference</a>
    </li>
    <div class="vl"></div>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="active-link">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
