.conference {
  width: 80%;
  height: 100vh;
  margin: 0% 8%;
}
mat-card {
  padding: 2% 2%;
  margin: 2% 0%;
  background-color: rgb(243, 239, 239);
}
mat-card-title {
  text-align: center;
}
mat-card-content {
  text-align: justify;
  font-size: 16px;
}
mat-card-footer {
  text-align: center;
}
